<form [formGroup]="form"  class="form-group" (ngSubmit)="onSubmit()">

  <div class="workflow-page">


    <!-- USER INPUT -->
    <table class="workflow-input-table">


      @if (!rowSelected) {
        <tr class="workflow-filter-row" >

             <td>
                    <label class="workflow-label">WF ID:</label>

                    <input type="text" class="workflow-text-input" formControlName="wfID"
                      (input)="inputID()">
             </td>


              <!-- Date Time -->
              @if (!rowSelected && !searchID) {
                  <td class="form-group col-2 workflow-small-cell">
                   <label class="workflow-label">Event Start Date & Time:</label>
                   <div class="workflow-border-box">

                  <input matInput  name="startDate" type="date" class="workflow-date-input"
                    value="{{startDate}}"
                    placeholder="mm-dd-yyyy" required (change)="onStDateChange($event)"/>


                    <input type="time" class="workflow-time-input" matInput name="startTm"
                      value="{{startTm}}" (change)="onStTimeChange($event)"
                      />

                   </div>
                  </td>
                }
                @if (!rowSelected && !searchID) {
                <td class="form-group col-2 workflow-small-cell">
                  <label class="workflow-label">Event End Date & Time:</label>
                  <div class="workflow-border-box">

                      <input type="date" class="workflow-date-input" matInput name="endDate"
                        value="{{endDate}}" (change)="onEndDateChange($event)"/>

                        <input type="time" class="workflow-time-input" matInput name="endTm"
                          value="{{endTm}}" (change)="onEndTimeChange($event)"/>

                      </div>
                    </td>
                  }
                  @if (!rowSelected && !searchID) {
                    <td class="form-group col-2 workflow-small-cell">
                      <table class="workflow-inner-table">
                        <tr>
                          <td class="form-group col-1">
                            <label class="workflow-label">Status:</label>
                          </td>

                          <td>

                              <mat-select class="workflow-select" formControlName="statusType" (selectionChange)="statusTypeChange($event.value)"
                                [multiple]="false">
                                @for (statusType of statusTypes; track statusType) {
                                  <mat-option [value]="statusType" class="workflow-option">
                                    {{statusType}}
                                  </mat-option>
                                }
                              </mat-select>

                          </td>
                        </tr>

                        @if (!showUsers) {
                          <tr>
                            <td class="form-group col-1">
                              <label class="workflow-label">Transaction:</label>
                            </td>

                            <td>

                                <mat-select formControlName="transType" class="workflow-select"
                                  [multiple]="false" (selectionChange)="transTypeChange($event.value)" >
                                  @for (transType of transactionTypes; track transType) {
                                    <mat-option [value]="transType" class="workflow-option">
                                      {{transType}}
                                    </mat-option>
                                  }
                                </mat-select>

                            </td>

                          </tr>

                        } @else {
                          <tr>
                            <td class="form-group col-1">
                              <label class="workflow-label workflow-label-normal">User:</label>
                            </td>

                            <td class="form-group col-2">

                                <mat-select formControlName="assignedUser" (selectionChange)="updUserChange($event.value)"
                                  class="workflow-select"
                                  [multiple]="false" >
                                  @for (assignee of irisUsers; track assignee) {
                                    <mat-option [value]="assignee.FullName" class="workflow-option">
                                      {{assignee.FullName}}
                                    </mat-option>
                                  }
                                </mat-select>

                            </td>
                          </tr>
                        }
                        @if (showMode) {
                          <tr>
                            <td colspan="2">

                               <mat-radio-group class="custom-radio-group"  formControlName="mode" (change)="transactionChange($event.value)">
                                <mat-radio-button class="custom-radio-button" value="RealTime">
                                  <span class="workflow-radio-text">RealTime</span>
                                </mat-radio-button>
                                <mat-radio-button class="custom-radio-button" value="Batch">
                                  <span class="workflow-radio-text">Batch</span>
                                </mat-radio-button>
                              </mat-radio-group>

                            </td>
                          </tr>
                         }

                      </table>
                    </td>
                  }
                  @if (!rowSelected && !searchID) {
                    <td class="form-group col-2 workflow-small-cell">
                      <table class="workflow-inner-table">
                         <tr class="workflow-vertical-top-row">

                            <td  class="form-group col-1 workflow-safe-align-cell">

                              <label class="workflow-label">Sender ID:</label>
                            </td>

                           <td>
                              <input type="text" class="workflow-text-input" formControlName="senderID"
                                >
                            </td>

                          </tr>
                        <tr class="workflow-vertical-top-row">

                            <td  class="form-group col-1 workflow-safe-align-cell">

                              <label class="workflow-label">Receiver ID:</label>
                            </td>

                           <td>
                              <input type="text" class="workflow-text-input" formControlName="receiverID"
                                >
                            </td>

                          </tr>

                      </table>
                    </td>
                  }
                   @if (!rowSelected && !searchID) {
                    <td class="form-group col-2 workflow-small-cell">
                      <table class="workflow-inner-table">
                        <tr>
                          <td class="form-group col-1 workflow-safe-align-cell">
                            <label class="workflow-label">Error Type:</label>
                          </td>

                          <td class="form-group col-2">

                              <mat-select formControlName="errorType" class="workflow-select"
                                [multiple]="false" (selectionChange)="errorTypeChange($event.value)" >
                                @for (errorType of errorTypes; track errorType) {
                                  <mat-option [value]="errorType"
                                    class="workflow-option">
                                    {{errorType}}
                                  </mat-option>
                                }
                              </mat-select>

                          </td>
                        </tr>
                      </table>
                    </td>
                  }



                  @if (!rowSelected) {


                        <td class="form-group col-2 workflow-safe-align-cell">
                                <button class="workflow-search-btn"
                                  (click)="onSubmit()">
                                  Search
                                </button>
                        </td>

                    }
            </tr>
        }


        @if (rowSelected) {
                  <tr>
                    <td  class="form-group col-1">
                      @if (rowSelected && noAssignee == true) {
                        <button  class="btn btn-primary"
                          class="workflow-assign-btn"
                          (click)="assignWF()">
                          Assign to Me
                        </button>
                      }
                    </td>
                    @if (rowSelected) {
                      <td class="form-group col-2 workflow-small-cell">
                        <table class="workflow-inner-table workflow-table-vertical-top">
                          <tr>
                            <td>
                              <label class="workflow-label workflow-label-normal">Update Status</label>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <mat-form-field appearance="fill" class="workflow-form-field" >
                                <mat-select formControlName="updStatusType" (selectionChange)="updStatusTypeChange($event.value)"
                                  class="workflow-select"
                                  [multiple]="false" >
                                  @for (updStatusType of updStatusTypes; track updStatusType) {
                                    <mat-option [value]="updStatusType" class="workflow-option">
                                      {{updStatusType}}
                                    </mat-option>
                                  }
                                </mat-select>
                              </mat-form-field>
                            </td>
                          </tr>
                        </table>
                      </td>
                    }
                    @if (updStatus==='Assigned') {
                      <td class="form-group col-1">
                        <table class="workflow-inner-table workflow-table-vertical-top">
                          <tr>
                            <td>
                              <label class="workflow-label workflow-label-normal">User:</label>
                            </td>

                            <td>

                                <mat-select formControlName="assignee" (selectionChange)="updUserChange($event.value)"
                                  class="workflow-select"
                                  [multiple]="false" >
                                  @for (assignee of irisUsers; track assignee) {
                                    <mat-option [value]="assignee.FullName" class="workflow-option">
                                      {{assignee.FullName}}
                                    </mat-option>
                                  }
                                </mat-select>

                            </td>
                          </tr>
                        </table>
                      </td>
                    }
                    @if (rowSelected) {
                      <td class="form-group col-2 workflow-small-cell">
                        <table class="workflow-inner-table workflow-table-vertical-top">
                          <tr>
                            <td>
                              <label class="workflow-notes-label">Notes</label>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <input type="text" class="workflow-notes-input" formControlName="notes">
                            </td>
                          </tr>
                        </table>
                      </td>
                    }
                    <td class="form-group col-1">
                      @if (rowSelected) {
                        <button  class="btn btn-primary"
                          class="workflow-update-btn"
                          (click)="updateWF()">
                          Update
                        </button>
                      }
                    </td>

                  </tr>
       }
      </table>


            <!-- DATA -->
            <div>
              @if (canRenderDetails) {
                    <table mat-table [dataSource]="dataSource" matSort
                      class="workflow-data-table">
                    <!-- Checkbox Column -->
                    <ng-container matColumnDef="Select">
                      <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                      </th>
                      <td mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? singleToggle(row) : null"
                          [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                      </td>
                    </ng-container>
                    <!-- ID Column -->
                    <ng-container matColumnDef="ID">
                       <mat-header-cell mat-sort-header class="workflow-header-cell" *matHeaderCellDef> ID </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.ID}} </mat-cell>
                    </ng-container>
                    <!-- InterchangeSenderID Column -->
                    <ng-container matColumnDef="InterchangeSenderID">
                       <mat-header-cell mat-sort-header class="workflow-header-cell" *matHeaderCellDef> Interchange SenderID </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.InterchangeSenderID}} </mat-cell>
                    </ng-container>
                    <!-- InterchangeReceiverID Column -->
                    <ng-container matColumnDef="InterchangeReceiverID">
                       <mat-header-cell mat-sort-header class="workflow-header-cell" *matHeaderCellDef> Interchange ReceiverID </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.InterchangeReceiverID}} </mat-cell>
                    </ng-container>
                    <!-- TransactionType Column -->
                    <ng-container matColumnDef="TransactionType">
                       <mat-header-cell mat-sort-header class="workflow-header-cell" *matHeaderCellDef> Transaction </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.TransactionType}} </mat-cell>
                    </ng-container>
                    <!-- CreateDtTm Column -->
                    <ng-container matColumnDef="CreateDtTm">
                       <mat-header-cell mat-sort-header class="workflow-header-cell" *matHeaderCellDef> Create DtTm </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.CreateDtTm}} </mat-cell>
                    </ng-container>
                    <!-- ErrorType Column -->
                    <ng-container matColumnDef="ErrorType">
                       <mat-header-cell mat-sort-header class="workflow-header-cell" *matHeaderCellDef> ErrorType </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.ErrorType}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="Resent">
                       <mat-header-cell mat-sort-header class="workflow-header-cell" *matHeaderCellDef> Resent </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.Resent == 1?'Yes':'No'}} </mat-cell>
                    </ng-container>
                    <!-- Error Column -->
                    <ng-container matColumnDef="Error">
                       <mat-header-cell mat-sort-header class="workflow-header-cell" *matHeaderCellDef> Error  </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.Error}} </mat-cell>
                    </ng-container>
                    <!-- WorkStatus Column -->
                    <ng-container matColumnDef="WorkStatus">
                       <mat-header-cell mat-sort-header class="workflow-header-cell" *matHeaderCellDef> WorkStatus </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.WorkStatus}} </mat-cell>
                    </ng-container>
                    <!-- AssignedUser Column -->
                    <ng-container matColumnDef="AssignedUser">
                       <mat-header-cell mat-sort-header class="workflow-header-cell" *matHeaderCellDef> Assigned to </mat-header-cell>
                      <mat-cell class="workflow-small-cell-text" *matCellDef="let element"> {{element.AssignedUser}} </mat-cell>
                    </ng-container>
                    <!-- LastmodDtTM Column -->
                    <ng-container matColumnDef="LastmodDtTM">
                       <mat-header-cell mat-sort-header class="workflow-header-cell" *matHeaderCellDef> Last update </mat-header-cell>
                      <mat-cell class="workflow-small-cell-text" *matCellDef="let element"> {{element.LastmodDtTM}} </mat-cell>
                    </ng-container>
                    <!-- AssignedUser Column -->
                    <ng-container matColumnDef="LastmodID">
                       <mat-header-cell mat-sort-header class="workflow-header-cell" *matHeaderCellDef> Modified By </mat-header-cell>
                      <mat-cell class="workflow-small-cell-text" *matCellDef="let element"> {{element.LastmodID}} </mat-cell>
                    </ng-container>
                    <!-- Details Column -->
                    <ng-container matColumnDef="Details">
                      <mat-header-cell class="workflow-header-cell" *matHeaderCellDef> Details </mat-header-cell>
                      <mat-cell class="workflow-small-cell-text" *matCellDef="let element">
                        <button class="workflow-grid-btn" (click)="onDetailsClicked(element)"> Show  </button></mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="History">
                        <mat-header-cell class="workflow-header-cell" *matHeaderCellDef> History </mat-header-cell>
                        <mat-cell class="workflow-small-cell-text" *matCellDef="let element">
                          <button class="workflow-grid-btn" (click)="onHistoryClicked(element)"> History  </button></mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row class="workflow-data-row" *matRowDef="let row; columns: displayedColumns;">
                        </mat-row>
               </table>
            }


                     <mat-paginator  #dataPaginator
                        [pageIndex]="pageIndex"
                        [pageSize]="pageSize"
                        [length]="pageLength"
                        [pageSizeOptions]="[10, 25, 50, 100, 200]"
                        (page)="onPaginateChange($event)"
                        showFirstLastButtons>

                      </mat-paginator>

        </div>
    </div>

 </form>
