
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<form [formGroup]="form"  class="form-group" >

  <div class="settings-page">

    <table class="settings-layout-table">
      <tr class="row-top">
        <td class="cell-top">
          <table class="settings-panel-table settings-panel-table-primary">
            <tr class="row-top" >

              <td class="form-group col-2 default-config-cell">
                <label class="default-config-title">Default User Configurations</label>
              </td>

            </tr>

            <tr class="row-center">
              <td class="cell-center">

                <button class="icon btn btn-primary settings-action-btn"
                  (click)="saveConfig()">
                  Save Configuration
                </button>
              </td>
              <td>

                <button class="icon btn btn-primary settings-action-btn settings-action-btn-left"
                  (click)="toTransactions()"> Return
                </button>

              </td>
            </tr>
            <tr><td> <hr> </td> <td> <hr> </td></tr>


            <tr>
              <td class="form-group col-1 settings-label-cell">
                <label class="settings-label">Start Tab</label>
              </td>
              <td class="form-group col-1 cell-top">


                  <mat-select formControlName="cngfPage" class="settings-select"
                    [multiple]="false" >
                    @for (rowCnt of landingPage; track rowCnt) {
                      <mat-option [value]="rowCnt" class="settings-option">
                        {{rowCnt}}
                      </mat-option>
                    }
                  </mat-select>


              </td>

            </tr>

            <tr>
              <td class="form-group col-1 settings-label-cell">
                <label class="settings-label">Transaction</label>
              </td>
              <td class="form-group col-1 cell-top">


                  <mat-select formControlName="cngfTranType" (selectionChange)="cngfTranTypeChange($event.value)" class="settings-select"
                    [multiple]="false" >
                    @for (cfgTran of transactionTypes; track cfgTran) {
                      <mat-option [value]="cfgTran" class="settings-option">
                        {{cfgTran}}
                      </mat-option>
                    }
                  </mat-select>


              </td>

            </tr>

            @if (showCngfMode) {
              <tr>
                <td  class="form-group col-1 settings-label-cell">
                  <label class="settings-label">Mode</label>
                </td>
                <td class="form-group col-1 cell-top">
                    <mat-select formControlName="cngfMode" class="settings-select"
                      [multiple]="false" >
                      @for (cfgMode of modes; track cfgMode) {
                        <mat-option [value]="cfgMode" class="settings-option">
                          {{cfgMode}}
                        </mat-option>
                      }
                    </mat-select>

                </td>
              </tr>
            }

            <tr>
              <td class="form-group col-1 settings-label-cell">
                <label class="settings-label">Transmissions Search Timeframe</label>
              </td>
              <td class="form-group col-1 cell-top">


                  <mat-select formControlName="cngfBthTime" class="settings-select"
                    [multiple]="false" >
                    @for (bthTm of searchTime; track bthTm) {
                      <mat-option [value]="bthTm" class="settings-option">
                        {{bthTm}}
                      </mat-option>
                    }
                  </mat-select>


              </td>

            </tr>

            <tr>
              <td class="form-group col-1 settings-label-cell">
                <label class="settings-label">Transactions Search Timeframe</label>
              </td>
              <td class="form-group col-1 cell-top">


                  <mat-select formControlName="cngfTranTime" class="settings-select"
                    [multiple]="false" >
                    @for (tranTm of searchTime; track tranTm) {
                      <mat-option [value]="tranTm" class="settings-option">
                        {{tranTm}}
                      </mat-option>
                    }
                  </mat-select>

              </td>

            </tr>

            <tr>
              <td class="form-group col-1 settings-label-cell">
                <label class="settings-label">Workflow Search Timeframe</label>
              </td>
              <td class="form-group col-1 cell-top">


                  <mat-select formControlName="cngfWfTime" class="settings-select"
                    [multiple]="false" >
                    @for (wfTm of searchTime; track wfTm) {
                      <mat-option [value]="wfTm" class="settings-option">
                        {{wfTm}}
                      </mat-option>
                    }
                  </mat-select>

              </td>

            </tr>

            <tr>
              <td class="form-group col-1 settings-label-cell">
                <label class="settings-label">Display Items per Page</label>
              </td>
              <td class="form-group col-1 cell-top">


                  <mat-select formControlName="cngfDispCnt" class="settings-select"
                    [multiple]="false" >
                    @for (rowCnt of maxCount; track rowCnt) {
                      <mat-option [value]="rowCnt" class="settings-option">
                        {{rowCnt}}
                      </mat-option>
                    }
                  </mat-select>

              </td>

            </tr>

            <tr>
              <td class="form-group col-1 settings-label-cell">
                <label class="settings-label">Logout timeout (in mins)</label>
              </td>
              <td class="form-group col-1 cell-top">


                  <mat-select formControlName="cngfLogoff" class="settings-select"
                    [multiple]="false" >
                    @for (lTm of logoutTime; track lTm) {
                      <mat-option [value]="lTm" class="settings-option">
                        {{lTm}}
                      </mat-option>
                    }
                  </mat-select>

              </td>

            </tr>


          </table>
        </td>
        <!-- Display Search -->
        <td>
          <table class="settings-panel-table settings-panel-table-secondary">
            <tr class="row-top" >
              <td class="form-group col-1 customization-title-cell">
                <label class="customization-title">Customization for <B>Transactions</B> </label>


              </td>

              <td> </td>


            </tr>
            <tr>
              <td   class="form-group col-1 customization-controls-cell"  >
                <table class="subtable-azure">
                  <tr class="row-center">

                    <td>


                      <mat-form-field appearance="fill" class="settings-form-field-small" >

                        <mat-select formControlName="dispTransType" (selectionChange)="transactionChange($event.value)" class="settings-select"
                          [multiple]="false" >
                          @for (transType of transactionTypes; track transType) {
                            <mat-option [value]="transType" class="settings-option">
                              {{transType}}
                            </mat-option>
                          }
                        </mat-select>
                      </mat-form-field>
                    </td>

                    <td class="cell-center">

                      @if (showMode) {
                        <div class="mode-picker-box">
                          @for (mode of modes; track mode) {
                            <mat-radio-group formControlName="dispMode" (change)="modeChange($event.value)" class="settings-radio-group"
                              [(ngModel)]="formFields.modeString">
                              <mat-radio-button class="settings-radio-button" [value]="mode">
                                {{mode}}
                              </mat-radio-button>
                            </mat-radio-group>
                          }
                        </div>
                      }
                    </td>


                  </tr>
                </table>


              </td>



              <td  class="form-group col-1 customization-controls-cell">
                <table class="subtable-azure">
                  <tr class="row-center">
                    <td class="cell-center controls-right-padding">
                      <button class="icon btn btn-primary settings-action-btn"
                        (click)="saveSettings('Default')">
                        Save As Default
                      </button>

                      <button class="icon btn btn-primary settings-action-btn"
                        (click)="saveSettings('Session')">
                        Save For Session
                      </button>

                      <button class="icon btn btn-primary settings-action-btn"
                      (click)="openDialog()">Copy</button>

                      <button class="icon btn btn-primary settings-action-btn"
                        (click)="resetSettings()">

                        Reset

                      </button>

                      <button class="icon btn btn-primary settings-action-btn"
                        (click)="toTransactions()">

                        Return

                      </button>
                    </td>
                  </tr>
                </table>
              </td>


            </tr>
            <tr><td> <hr> </td> <td> <hr> </td></tr>

            <!-- Titles / Buttons -->
            <tr>
              <td class="form-group col-2 dragdrop-title-cell" align="right; width:35%">
                <label class="dragdrop-title">Drag and Drop Search Fields for  {{dispTransType}} {{formFields.modeString}} :</label>
              </td>
              <td class="form-group col-2 dragdrop-title-cell" align="right; width:35%">
                <label class="dragdrop-title">Drag and Drop Display Fields for  {{dispTransType}} {{formFields.modeString}}: </label>
              </td>

            </tr>


            <tr>


              <td class="form-group col-1 dragdrop-column-cell">

                <table class="table table-sm table-bordered table-striped text-center;">
                  <tr>
                    <td>
                      <div cdkDropListGroup>

                        <div class="transFld-container">

                          <div class="transFld-container">
                            <label class="dragdrop-label">Selected </label>

                            <div
                              cdkDropList
                              [cdkDropListData]="usrSelectedSearchCols"
                              class="transFld-list"
                              (cdkDropListDropped)="drop($event)">
                              @for (item of usrSelectedSearchCols; track item) {
                                <div class="transFld-box" cdkDrag>{{item}}</div>
                              }
                            </div>
                          </div>

                          <label class="dragdrop-label">Available </label>

                          <div
                            cdkDropList
                            [cdkDropListData]="allSearchFields"
                            class="transFld-list"
                            cdkDropListSortingDisabled
                            (cdkDropListDropped)="drop($event)">
                            @for (item of allSearchFields; track item) {
                              <div class="transFld-box" cdkDrag>{{item}}</div>
                            }
                          </div>
                        </div>


                      </div>

                    </td>
                  </tr>

                </table>

              </td>


              <td class="form-group col-1 dragdrop-column-cell dragdrop-column-cell-right">

                <table class="table table-sm table-bordered table-striped text-center;">
                  <tr>
                    <td>
                      <div cdkDropListGroup>

                        <div class="transFld-container">

                          <div class="transFld-container">
                            <label class="dragdrop-label">Selected </label>

                            <div
                              cdkDropList
                              [cdkDropListData]="usrSelectedDispCols"
                              class="transFld-list"
                              (cdkDropListDropped)="drop($event)">
                              @for (item of usrSelectedDispCols; track item) {
                                <div class="transFld-box" cdkDrag>{{item}}</div>
                              }
                            </div>
                          </div>

                          <label class="dragdrop-label">Available </label>

                          <div
                            cdkDropList
                            [cdkDropListData]="allDispFields"
                            class="transFld-list"
                            cdkDropListSortingDisabled
                            (cdkDropListDropped)="drop($event)">
                            @for (item of allDispFields; track item) {
                              <div class="transFld-box" cdkDrag>{{item}}</div>
                            }
                          </div>
                        </div>


                      </div>

                    </td>
                  </tr>

                </table>




              </td>


            </tr>
          </table>
        </td>
      </tr>


    </table>



  </div>

</form>


