<?xml version="1.0" encoding="utf-8"?>
<configuration>
<system.webServer>
   <rewrite>
    <rules>
      <clear />
      <rule name="X12 API Proxy Exact" stopProcessing="true">
        <match url="^(?:SH/)?x12-api/X12/?$" ignoreCase="true" />
        <action type="Rewrite" url="http://lp-itfdev04:8585/X12" appendQueryString="true" />
      </rule>
      <rule name="X12 API Proxy Legacy Api" stopProcessing="true">
        <match url="^(?:SH/)?x12-api/api/X12/?$" ignoreCase="true" />
        <action type="Rewrite" url="http://lp-itfdev04:8585/X12" appendQueryString="true" />
      </rule>
      <rule name="Angular Routes" stopProcessing="true">
        <match url=".*" />
        <conditions logicalGrouping="MatchAll">
          <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          <add input="{REQUEST_URI}" pattern="\.[^/]+$" negate="true" />
        </conditions>
        <action type="Rewrite" url="index.html" />
      </rule>
    </rules>
  </rewrite>
</system.webServer>
</configuration>
