<h5>Find Trading Partner, TPID, Links for a TPID</h5>
<br>
  <p>Type a TPID (part of it) to search for matching Trading Partners and their associated TPIDs and Links.</p>


  <form [formGroup]="form" class="form-group" >
    <div class="form-group">

      <div>
        <input  hidden="true" class="form-control" >
      </div>

      <table>
        <tr>
          <td>

            <input #searchTpId type="text"  formControlName="searchTpId" class="form-control" />
          </td> <td>
          <button [disabled]="loading" class="btn btn-primary" (click)="onTpIdChange()">
            Search TPID
          </button>
        </td>
      </tr>


    </table>

  </div>

  <ng-container *ngIf="canRenderDetails">
    <div >

      <table border="1px" class="w-95">
        <tr>
          <th [width]="300">
              Trading Partner
            </th>

            <th [width]="200">
            TPID
          </th>
          <th >
            <span > TP Links</span>
          </th>
        </tr>
        <tr *ngFor="let dat of dataSource; let idx = index">
            <td style="vertical-align: top; min-width: 300px; max-width: 400px; word-break: break-word;">
              <p>{{dat.Name}}</p>
            </td>
          <td style="vertical-align: top;">
            <p [value]="dat.TPID">{{dat.TPID}}</p>
          </td>
          <td>
            <div>
              <button class="small-btn" *ngIf="expandedRow === idx" (click)="collapse()">Collapse</button>
              <button class="small-btn" *ngIf="expandedRow !== idx" (click)="expand(idx)">Links</button>
            </div>
            <section class="collapsible" [@collapse]="expandedRow === idx ? 'false' : 'true'">
              <p *ngIf="expandedRow === idx">
                <ng-container *ngFor="let element of rowLinks[idx]">
                  <mat-option [value]="element.TransType">
                    <mat-list>
                      <div mat-subheader><B>{{element.Link}}</B></div>
                      <div mat-line>TransactionSetId: {{element.TransactionSetId}}, Mode: {{element.Mode}}, TransType: {{element.TransType}} </div>
                      <div mat-line>ISA SenderId: {{element.IsaSenderId}}, ISA ReceiverId: {{element.IsaReceiverId}} </div>
                      <div mat-line>GS SenderId: {{element.GsSenderId}}, GS ReceiverId: {{element.GsReceiverId}}</div>
                      <div mat-line>Routing: {{element.Routing}}, Ack: {{element.Ack}}, SNIP: {{element.SNIP}}</div>
                      <div mat-line>Separators: {{element.Separators}}, Active: {{element.Active}} </div>
                    </mat-list>
                  </mat-option>
                </ng-container>
              </p>
            </section>
            <div>
              <button class="small-btn" *ngIf="expandedRow === idx" (click)="collapse()">Collapse</button>
            </div>
          </td>
        </tr>
      </table>
      <div *ngIf="lnkArrSize > 0" style="margin-top: 10px;">
        <label>Results found: {{lnkArrSize}}, displaying {{rowNum}}</label>
      </div>
    </div>
  </ng-container>


</form>



